@font-face {
  font-family: 'Avenir LT Std';

  src: url(/fonts/AvenirLTStd-Book.woff2?97fe4870ed666fb32836718cd26427ec) format('woff2'),
        url(/fonts/AvenirLTStd-Book.woff?17e243582aa8c700ac4bd4b418241bec) format('woff');

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';

  src: url(/fonts/AvenirLTStd-Roman.woff2?1f91ee32a38d4bdc548569c1a8469a57) format('woff2'),
        url(/fonts/AvenirLTStd-Roman.woff?08c1acb2efdbdf9da6e13c68fa6f9d6d) format('woff');

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';

  src: url(/fonts/AvenirLTStd-Black.woff2?97c6260e426047544ec8347dfe733ea4) format('woff2'),
        url(/fonts/AvenirLTStd-Black.woff?1d6096d928ca2b137ff0a983f017199d) format('woff');

  font-weight: 900;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro';

  src: url(/fonts/AmsiPro-Bold.woff2?8a7ab90eece78ef8025fbf91aee5d3c9) format('woff2'),
        url(/fonts/AmsiPro-Bold.woff?65734229762b286fb88043cad5bebb22) format('woff');

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro';

  src: url(/fonts/AmsiPro-Italic.woff2?8fe516c2419726fd2927d7a9cc1eaba8) format('woff2'),
        url(/fonts/AmsiPro-Italic.woff?417acd3022da5e5b2b9787f6af90ffe1) format('woff');

  font-weight: normal;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro';

  src: url(/fonts/AmsiPro-Black.woff2?090d52bf36f9061366da435b2cf4e8ec) format('woff2'),
        url(/fonts/AmsiPro-Black.woff?fb92a51e22859e3f017d1c94bc068cd4) format('woff');

  font-weight: 900;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro-UltraItalic';

  src: url(/fonts/AmsiPro-UltraItalic.woff2?fcebb27263accee81f47b6e732a2ddb1) format('woff2'),
        url(/fonts/AmsiPro-UltraItalic.woff?9f6df5194e69b6d60f15ec5bb9ee01d1) format('woff');

  font-weight: normal;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro';

  src: url(/fonts/AmsiPro-SemiBold.woff2?91046a1dcaaaf6bbda8763f6e137f043) format('woff2'),
        url(/fonts/AmsiPro-SemiBold.woff?1705aa368453b8853d5f11bf9b3a372a) format('woff');

  font-weight: 600;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro';

  src: url(/fonts/AmsiPro-Regular.woff2?3fe7c02ae0b655044087c70d635bd3b8) format('woff2'),
        url(/fonts/AmsiPro-Regular.woff?55c4acee2f5beb1598052c5c101ea0f2) format('woff');

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro';

  src: url(/fonts/AmsiPro-Light.woff2?da39463d85038a111b7384085037c8b7) format('woff2'),
        url(/fonts/AmsiPro-Light.woff?2f05ea58c5b7fdc360177a87d46477ad) format('woff');

  font-weight: 300;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro-XLightItalic';

  src: url(/fonts/AmsiPro-XLightItalic.woff2?c4becba61dc1439da98ed43c646be781) format('woff2'),
        url(/fonts/AmsiPro-XLightItalic.woff?875e2348a19dc80a9cdaf6bc3469c44c) format('woff');

  font-weight: 300;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro-Ultra';

  src: url(/fonts/AmsiPro-Ultra.woff2?09b52feccf86d92795fb0e3d75e46bed) format('woff2'),
        url(/fonts/AmsiPro-Ultra.woff?135a82f5c9d251710b4e6a9563c0f13e) format('woff');

  font-weight: normal;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro';

  src: url(/fonts/AmsiPro-SemiBoldItalic.woff2?ee7b7a9c0724ab7910cb2fad92412037) format('woff2'),
        url(/fonts/AmsiPro-SemiBoldItalic.woff?f2252cc7f68e87c091564753509d2faf) format('woff');

  font-weight: 600;

  font-style: italic;

  font-display: swap;
}

@font-face {
  font-family: 'AmsiPro-XLight';

  src: url(/fonts/AmsiPro-XLight.woff2?d628d6ea18535a7e3445ab89e9b0da99) format('woff2'),
        url(/fonts/AmsiPro-XLight.woff?c1bf37714e691fc4a69c88a2dd99a9d7) format('woff');

  font-weight: 300;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Arial Rounded MT';

  src: url(/fonts/ArialRoundedMTBold.woff2?1d2db7b99501566ab93d08db90b0661b) format('woff2'),
        url(/fonts/ArialRoundedMTBold.woff?5b25d83b540be5a2c71f0d06868011c8) format('woff');

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'baksoda';

  src: url(/fonts/baksoda-webfont.woff2?6668c145f357a0d8f9df6c2f30be92d6) format('woff2'),
         url(/fonts/baksoda-webfont.woff?b377cc0535f41ffe0dc7f0720f365b28) format('woff');

  font-weight: normal;

  font-style: normal;
}
