.theme-primary-bg {
    background: #003a70;
}

.theme-primary-color {
    color: #003a70;
}

.theme-light-primary-color {
    color: #003a7040;
}

.theme-lighter-primary-color {
    color: #dee2e6ad;
}

.theme-secondary-bg {
    background: #feca0a;
}

.theme-secondary-color {
    color: #feca0a;
}

.theme-light-dark-color {
    color: #464646;
}

.theme-success-color {
    color:#058a65;
}

.theme-success-bg {
    color:#058a65;
}

.theme-fail-color {
    color:#b13838;
}

.theme-fail-bg {
    color:#b13838;
}