
p {
    margin:0;
}

body {
    font-family: 'Avenir LT Std';
}

.section-title {
    color:#feca0a;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Arial Rounded MT';
}

.section-subtitle {
    color: #003a70;
    font-size: xx-large;
    margin-bottom: 1rem;
    font-weight: 800;
    font-family: 'AmsiPro';
}

.section-text {
    margin-bottom: 1rem;
    text-align: justify;
    font-size: 15px;
}

.theme-primary-btn {
    background: #003a70;
    color: white;
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: medium;
    font-weight: bold;
    font-family: 'Avenir LT Std';
}

.theme-primary-btn:hover {
    background: #feca0a;
    color: #003a70;
}

.theme-secondary-btn {
    background: #feca0a;
    color: white;
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: smaller;
    font-weight: bold;
    font-family: 'Avenir LT Std';
}


.theme-secondary-btn:hover {
    background: #003a70;
    color:white;
}

.theme-light-btn {
    background: white;
    color: #003a70;
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: smaller;
    font-weight: bold;
    font-family: 'Avenir LT Std';
}


.theme-light-btn:hover {
    background: #003a70;
    color:white;
}

.theme-secondary-square-btn {
    background: #feca0a;
    color: #003a70;
    border-radius: 3px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: smaller;
    font-weight: bold;
    font-family: 'Avenir LT Std';
}


.theme-secondary-square-btn:hover {
    background: #003a70;
    color:white;
}

.theme-outline-btn {
    background:transparent;
    color: #003a70;
    border: 2px solid #003a70;
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: medium;
    font-weight: bold;
    font-family: 'Avenir LT Std';
}

.theme-outline-btn:hover {
    background: #003a70;
    color: white;
}

.theme-secondary-alt-btn {
    background: #feca0a;
    color: #003a70;
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: medium;
    font-weight: bold;
    font-family: 'Avenir LT Std';
}

.theme-secondary-alt-btn:hover {
    background: white;
    color: #003a70;
}


.theme-primary-modal .modal-header{
    border-bottom: 0;
    color: #003a70;
    font-weight: bold;
 }

 .theme-primary-modal .modal-header .modal-title {
     color: #003a70;
     font-weight: bold;
 }

 .theme-primary-modal .modal-body{
     padding: 2rem;
 }

 .theme-primary-modal .modal-body i{
     color: #003a70;
 }

 .theme-primary-modal .modal-footer {
     border-top: 0;
 }

 .theme-primary-modal .modal-footer button{
     margin: auto;
 }

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
    background:#113192d1;
}

.breadcrumb-item.active {
    color: white;
}

 .breadcrumb .breadcrumb-item a {
    color:#feca0a;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Arial Rounded MT';
 }

 .breadcrumb .breadcrumb-item a:hover {
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Arial Rounded MT';
 }


 .theme-secondary-indicator {
    background: #feca0a;
    width: 50px;
    height: 50px;
    margin: auto 1rem;
    border-radius: 5px;
 }
