.section-matricula {
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('~/img/matricula-bg.webp');
}

.section-matricula .matricula-card {
    height: auto;
    width: 350px;
    border-radius: 25px;
    background: white;
    border: 1px solid #d6d5d5;
}

.section-matricula .matricula-card .header {
    height: 200px;
    width: 348px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-matricula .matricula-card .text {
    min-height: 186px;
}

.section-matricula .matricula-card .title {
    font-size: x-large;
    color: #003a70;
    font-weight: bold;
    margin-bottom: .5rem;
}

.section-matricula .matricula-card .subtitle {
    margin-bottom: .5rem;
    font-family: 'Avenir LT Std';
}

.section-matricula .matricula-card i {
    color: #003a70;
}

.section-matricula .matricula-card .info p {
    font-size: small;
    margin-bottom: .5rem;
    color: #464646;
}

.section-matricula .matricula-card .users-list li {
    height: 30px;
    width: 30px;
    margin-left: -21px;
    border-radius: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.section-matricula .matricula-card hr:not([size]) {
    height: 2px;
}