
body {
    background: linear-gradient(72deg, white, #eaf1ff);
}

.section-eja .content, .section-curso .payment {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}

.section-eja .content p {
    margin-bottom: .3rem;
}

.section-eja .content i {
    color: #003a70;
    margin-right: .5rem;
}


.section-eja .content .i-wrapper i {
    margin:auto;
    color: white;
}

.section-eja .content .item {
    border-radius: 5px;
    background:#cfd8ea;
}

.section-eja .content .i-wrapper{
    background: #003a70;
    display: flex;
    border-radius: 5px;
    padding: 5px;
    display: -webkit-inline-box;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    transition: all 0.5s ease;
}

.section-eja .content:hover .i-wrapper{
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 8px 4px, rgb(0 0 0 / 6%) 0px 1px 7px 0px;
    background: #feca0a;
}

.section-eja .content:hover .i-wrapper i{
    color: #003a70;
}

.section-eja .content .i-wrapper p{
    text-align: center;
    width: 100%;
    display: flex;
}

.section-eja .content span {
    font-weight: bold;
    color: #003a70;
    font-family: 'Avenir LT Std';
}

.section-eja .size-1 {
    height: 250px !important;
}


.section-eja .hightlight-content-wrapper {
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height: 250px;
}

.section-eja .hightlight-content-wrapper .text-wrapper {
    bottom:0;
    left:0;
    width: 100%;
    height: 25%;
    background: #ffffff9e;
    padding: 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}