.flip-boxes {
    justify-content: center;
  }
  .flip-box {
    display: flex;
    align-content: stretch;
    min-height: 200px;
    flex-wrap: wrap;
    position: relative;
    border: 10px solid transparent;
    padding:0;
    border-top: 0;  
    -webkit-perspective: 1000;
            perspective: 1000;
    
    &:hover {
      .back {
        transform: rotateY(0deg);
        z-index: 10;
      }
      
      .front {
        transform: rotateY(180deg);
        z-index: -1;
      }
      
    }
    
    .back, .front {
      position: relative;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-content: center;
      flex: 0 0 100%;
      -webkit-transition: all 1s cubic-bezier(.5,1,.5,1);
      transition: all 1s cubic-bezier(.5,1.3,.5,1.3);
      transform-style: preserve-3d;
      background-size: cover;
      background-position: center;
    }
    
    .back {
      background-color: transparent;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      transform: rotateY(-180deg);
    }
    
    .front {
      z-index: 10;
    }
    
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      //text-shadow: 0px 0px 0px black;
    }
  }
  