@font-face {
    font-family: 'Avenir LT Std';
    src: url('~/css/fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('~/css/fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('~/css/fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('~/css/fonts/AvenirLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('~/css/fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('~/css/fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('~/css/fonts/AmsiPro-Bold.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('~/css/fonts/AmsiPro-Italic.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('~/css/fonts/AmsiPro-Black.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro-UltraItalic';
    src: url('~/css/fonts/AmsiPro-UltraItalic.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-UltraItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('~/css/fonts/AmsiPro-SemiBold.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('~/css/fonts/AmsiPro-Regular.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('~/css/fonts/AmsiPro-Light.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro-XLightItalic';
    src: url('~/css/fonts/AmsiPro-XLightItalic.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-XLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro-Ultra';
    src: url('~/css/fonts/AmsiPro-Ultra.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-Ultra.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro';
    src: url('~/css/fonts/AmsiPro-SemiBoldItalic.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AmsiPro-XLight';
    src: url('~/css/fonts/AmsiPro-XLight.woff2') format('woff2'),
        url('~/css/fonts/AmsiPro-XLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Rounded MT';
    src: url('~/css/fonts/ArialRoundedMTBold.woff2') format('woff2'),
        url('~/css/fonts/ArialRoundedMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'baksoda';
    src: url('~/css/fonts/baksoda-webfont.woff2') format('woff2'),
         url('~/css/fonts/baksoda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}