.galeria {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 3px;
    height: -webkit-fill-available;
}

.section-galeria .galeria .galeria-item  {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.section-galeria .galeria .galeria-item:hover {
    transform: scale(1.025);
}

.section-galeria .galeria .galeria-item .galeria-pasta {
    padding: 4px;
    height: -webkit-fill-available;
}

.section-galeria .galeria .galeria-item .galeria-pasta .img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
    height: -webkit-fill-available;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-galeria .galeria .galeria-item .galeria-pasta .img:hover {
    box-shadow: 0 0 32px #333;
}

.section-galeria .galeria .galeria-item .galeria-pasta .album-mask {
    bottom: 0;
    font-family: 'Avenir LT Std';
    left: 0;
    font-size: larger;
    height: 88px;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    background: linear-gradient(#6d080800, black);
}

.section-galeria .galeria .galeria-item .galeria-pasta .album-mask p{
    text-align: center;
    color: white;
    margin-top: auto;
    margin-left: auto;
    font-weight: 600;
    margin-right: auto;
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}

@-moz-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@-webkit-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@-o-keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}

@keyframes zoomin {
    0% {
        max-width: 50%;
        transform: rotate(-30deg);
        filter: blur(4px);
    }
    30% {
        filter: blur(4px);
        transform: rotate(-80deg);
    }
    70% {
        max-width: 50%;
        transform: rotate(45deg);
    }
    100% {
        max-width: 100%;
        transform: rotate(0deg);
    }
}
