
.main-banner .carousel-control-next, .main-banner .carousel-control-prev {
   opacity: 0;
   transition: all 0.5s ease;
}

.main-banner:hover .carousel-control-next, .main-banner:hover .carousel-control-prev{
    opacity: 1;
}

.curso-info-bar {
    height: 100px;
    width:100%;
}

.curso-info-bar .title {
    font-size: 3rem;
    color: #003a70;
    text-align: center;
    font-family: 'AmsiPro';
    line-height: 51px;
    font-weight: 800;
}

.curso-info-bar .subtitle {
    color: #464646;
    text-align: center;
    font-weight: bold;
    line-height: 13px;
    font-size: 1.1rem;
}

.section-quem-somos #slider {
    position: absolute;
    opacity: 0;
    transform: translateX(160%);
    -webkit-transform: translateX(160%);
}

@media (max-width: 575.98px) { 
    .section-quem-somos #slider {
        position: relative;
    }
 }

.slide-in {
    animation: slide-in 1.2s cubic-bezier(0, 0, 0.2, 1.27) forwards;
    -webkit-animation: slide-in 1.2s cubic-bezier(0, 0, 0.2, 1.27) forwards;
}

@keyframes slide-in {
    100% { transform: translateX(15%);
        opacity: 1; }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(15%);
        opacity: 1;}
}

.section-diferenciais .menu__container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 10px 40px 2px rgba(0,0,0,0.4);
  transform-origin: center center 0px;
  transition: all .8s ease-out;
  animation-name: animate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
  z-index: 1;
}
  
.section-diferenciais .menu__container_animate {
    animation: unset;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

@keyframes animate {
  0% { margin-top: 0px;}
   
  50% { margin-top: 20px;}
   
  100% { margin-top: 0px;}
   
}

.section-diferenciais .column {
    min-height: 450px;
    display: flex;
}

.section-diferenciais .diferenciais-card {
    width: 250px;
    height: 400px;
    background: #003a70;
    border-radius: 1rem;
    padding: 1.5rem;
}

.section-diferenciais .diferenciais-card .card-image {
    background: #feca0a;
    width: 100px;
    height: 100px;
    border-radius: .5rem;
    display: flex;
    margin-bottom: 2rem;
}

.section-diferenciais .diferenciais-card .card-image img {
    margin:auto;
    max-width: 50px;
    max-height: 52px;
}

.section-diferenciais .diferenciais-card .card-title {
    color: #feca0a;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: larger;
    min-height: 56px;
    font-family: 'Avenir LT Std';
}

.section-diferenciais .diferenciais-card .card-subtitle {
    color: white;
    font-size: smaller;
    font-family: 'Avenir LT Std';
}

.section-galeria .galeria-card {
    height: 180px;
    width: 100%;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 2rem;
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.section-galeria .galeria-card:hover {
    transform: scale(1.025);
}

.section-galeria .album-mask {
    bottom: 0;
    font-family: 'Avenir LT Std';
    left: 0;
    font-size: larger;
    height: 88px;
    padding: 1rem;
    border-radius: 8px;
    width: 100%;
    background: linear-gradient(#6d080800, black);
}

.section-galeria .album-mask p{
    text-align: center;
    color: white;
    margin-top: auto;
    margin-left: auto;
    font-weight: 600;
    margin-right: auto;
}

.section-galeria .img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px #333;
    transition: all 1.5s ease;
    height: -webkit-fill-available;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-galeria .img:hover {
    box-shadow: 0 0 32px #333;
}

.section-unicesumar {
    margin: 5rem 0rem;
}

.section-unicesumar .unicesumar-row {
    width: 750px;
    border: 1px solid #ccc;
    padding: 1rem;
}

.section-unicesumar .middle-content p {
    font-size: 14px;
}

.section-acesso .container {
    background: url('~/img/acesso-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.section-acesso .borda-topo, .section-acesso .borda-fundo {
    background: #003a70;
    height: 15px;
}

.section-acesso .borda-topo {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.section-acesso .borda-fundo {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.section-matricula {
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('~/img/matricula-bg.webp');
}

.section-matricula .matricula-card {
    height: auto;
    width: 350px;
    border-radius: 25px;
    background: white;
    border: 1px solid #d6d5d5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-matricula .matricula-card .header {
    height: 200px;
    width: 348px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-matricula .matricula-card .title {
    font-size: x-large;
    color: #003a70;
    font-weight: bold;
    margin-bottom: .5rem;
}

.section-matricula .matricula-card .subtitle {
    margin-bottom: .5rem;
    font-family: 'Avenir LT Std';
}

.section-matricula .matricula-card .text {
    min-height: 186px;
}


.section-matricula .matricula-card i {
    color: #003a70;
}

.section-matricula .matricula-card .info p {
    font-size: small;
    margin-bottom: .5rem;
    color: #464646;
}

.section-matricula .matricula-card .users-list li {
    height: 30px;
    width: 30px;
    margin-left: -21px;
    border-radius: 5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.section-matricula .matricula-card hr:not([size]) {
    height: 2px;
}

.section-aprovados .section-subtitle {
    text-align: center;
    font-family: 'baksoda';
    font-size: 4.5rem;
    z-index: 1;
    left: 50%;
    bottom: -45px;
    transform: translateX(-50%);
    position: absolute;
    margin: auto;
}

.section-aprovados .title-wrapper {
    height: 55px;
}

.section-aprovados .image-wrapper {
    width: 345px;
    margin:auto;
}

.section-aprovados .tilt-line {
    left: 50%;
    bottom: -2px;
    width: 0px;
    margin: auto;
    z-index: 0;
    height: 4px;
    color: #feca0a; 
    transition: all .8s ease-in-out;
    opacity: inherit;
    transform: perspective(1000px) rotateX(35deg) rotateY(353deg) rotateZ(0deg) translateX(-50%);
}

.tilt-line-width {
    width: 240px !important;
}

.section-aprovados .aprovados-slide .quote-left i,  .section-aprovados .quote-right i {
    font-size: 4rem;
    color: #ccc;
    margin: 0px 1rem;
}

.section-aprovados .aprovados-slide .quote-left p {
    margin-bottom: auto;
}

.section-aprovados .aprovados-slide .quote-right p {
    margin-top: auto;
}

.section-aprovados .aprovados-slide .square {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border-top-left-radius: 55px;
    border: 2px solid #feca0a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: url('~/img/aprovados-bg.svg');
}

.section-aprovados .aprovados-slide .name {
    background: #feca0a;
    padding: .3rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section-aprovados .aprovados-slide .name-wrapper {
    bottom: 15px;
    right: 0px;
}


.section-aprovados .aprovados-slide .name p {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.section-aprovados .aprovados-slide hr {
    border: 3px solid #003a70;
    opacity: inherit;
    width: 100%;
    background: #003a70;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    margin-top: 3px;
}

.section-aprovados .text-wrapper {
    padding: 1rem;
}

.section-aprovados .text-wrapper .depoimento {
    margin-bottom: 1rem;
    text-align: justify;
}

.section-aprovados .text-wrapper .curso {
    font-weight: bold;
}

.section-aprovados .carousel-control-next, .section-aprovados .carousel-control-prev {
    background: #feca0a;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 5px;
}

@media (max-width: 575.98px) {
    .section-aprovados .carousel-control-next, .section-aprovados .carousel-control-prev {
        width: 20px;
    }
}

.section-aprovados .carousel-inner {
    padding: 2rem 1rem;
}

.section-aprovados .carousel-indicators [data-bs-target] {
    background-color: #ffe585;
}

.section-cursos {
    background: #006bcd;
    height: 150px;
}

.section-cursos p {
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
    color: white;
}

@media (max-width: 575.98px) {
    .section-cursos p {
        font-size: 1.5rem;
    }
}


.section-noticias .noticias-card {
    min-height: 500px;
    width: 320px;
    border-radius: 25px;
    background: white;
    border: 1px solid #006bcd;
}

.section-noticias .noticias-card .header {
    height: 200px;
    width: 318px;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-noticias .noticias-card .title {
    font-size: 15px;
    color: black;
    font-weight: bold;
    margin-bottom: .5rem;
    line-height: 20px;
    height: 45px;
}

.section-noticias .noticias-rodape p {
    font-size: .6rem;
}

.section-noticias .noticias-card .content {
    text-align: justify;
    line-height: 20px;
    height: 120px;
}

#modalCadastro .modal-dialog {
   max-width: 850px;
}

#modalCadastro .modal-header {
    border-bottom:unset;
    padding: .5rem;
}

#modalCadastro .modal-footer {
    border-top:unset;
}

/* #modalCadastro .modal-content {
    background: linear-gradient(0deg, rgb(132 165 226) 0%, rgb(69 109 255) 41%, rgb(16 50 146 / 92%) 100%);
    border: 0;
    padding: 2rem;
} */

#modalCadastro .modal-content-subwrapper {
    border-radius: 10px;
    background: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

#modalCadastro .modal-body {
    padding: 1rem 2rem;
}

#modalCadastro .modal-body-bg {
    display: grid;
}

#modalCadastro .modal-body-bg img {
    width: 100%;
    margin-top: auto;
    margin-bottom: 2rem;
}

#modalCadastro .modal-inputs-wrapper .brand {
    margin-bottom: 5px;
}

#modalCadastro .modal-inputs-wrapper .brand img {
    width: 110px;
    margin-left:auto;
}

#modalCadastro .modal-body .title {
    font-size: x-large;
    line-height: 32px;
    font-family: 'Avenir LT Std';
}

#modalCadastro input, #modalCadastro .input-group-text, #modalCadastro textarea, #modalCadastro .input-group .btn, #modalCadastro .form-select {
    border: 1px solid #006bcd;
}

#modalCadastro form i {
    color: #003a70cc;
}

#modalCadastro button[type="submit"] { 
    width: 98%;
}

#modalCadastro .modal-header button { 
    border: 0;
    color: #003a70;
}

#cadastro-feedback { 
    color: #003a70;
    display: none;
    text-align: center;
    margin-top: 8rem;
}

#modalCadastro {
    background: linear-gradient(0deg, rgb(132 165 226 / 81%) 0%, rgb(69 109 255 / 78%) 41%, rgb(16 50 146 / 82%) 100%) !important;
}

#modalCadastro input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #003a70 !important;
  }

#modalCadastro input::-moz-placeholder { /* Firefox 19+ */
color: #003a70 !important;
}

#modalCadastro input:-ms-input-placeholder { /* IE 10+ */
color: #003a70 !important;
}

#modalCadastro input:-moz-placeholder { /* Firefox 18- */
color: #003a70 !important;
}

#logout-btn {
    width: fit-content;
}
