.main-wrapper  .media-icon-wrapper {
margin: auto 0px;
display: flex;
}

.main-wrapper .navbar-top-wrapper {
color:white;
}

.main-wrapper .navbar-top-wrapper p {
font-size: 12px;
}

.main-wrapper .navbar-top-wrapper i {
margin-right: 12px;
font-size: 15px;
}

.main-wrapper p {
    margin:0;
}

.main-wrapper .navbar-wrapper {
    background: white;
    }

.main-wrapper .navbar-wrapper .navbar{
height: 85px;
}

.main-wrapper .navbar-wrapper .navbar .nav-link {
font-weight: bold;
font-size: 17px;
color: #003a70;
}

.main-wrapper .navbar-wrapper .navbar .aluno-btn {
    border-radius: 20px;
    border: 2px solid #003a70;
    padding: 2px 13px;
    font-size: 15px;
    height: 25px;
    line-height: 20px;
}

.main-wrapper .navbar-wrapper .navbar .nav-item {
margin-left: 25px;
}

.main-wrapper .navbar-wrapper .nav-link {
    position:relative;
}

.main-wrapper .navbar-wrapper .nav-link.active::after {
    content: "_";
    color: #feca0a;
    font-weight: lighter;
    font-size: -webkit-xxx-large;
    position: absolute;
    border:0;
    top: -48%;
    left: 14%;
}

@media (max-width: 575.98px) { 
    .main-wrapper .navbar-wrapper .nav-link.active::after {
        left: 0%;
        border:0;
    }

    .navbar-nav .dropdown-menu {
        width:93%;
    }
}


.main-wrapper .navbar-wrapper .navbar-brand .brand-img-wrapper img {
width: auto;
height: 45px !important;
}

.main-wrapper .navbar-wrapper .navbar-brand .brand-img-wrapper {
margin-right: .3rem;
}

.main-wrapper .navbar-wrapper .navbar-brand .brand-wrapper {
    display: flex;
}

.main-wrapper .navbar-wrapper .navbar-brand .header {
    margin: 0;
}

.main-wrapper .navbar-wrapper .navbar-brand .header .title {
    font-size: xx-large;
    font-weight: bold;
}

.main-wrapper .navbar-wrapper .navbar-brand .header .brand-subtitle {
    font-size: x-small;
    font-weight: bold;
}

.navbar-wrapper .navbar-nav {
    margin-left: auto;
}

@media (max-width: 575.98px) { 
    .navbar-collapse {
        background: white;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        z-index: 1;
    }
}
