.section-noticia .title {
    font-size: x-large;
    font-weight: bold;
    font-family: 'Avenir LT Std';
}

.section-noticia .subtitle {
    text-align: justify;
    font-weight: lighter;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: #464646;
}

.section-noticia .image img {
    width: 500px;
    height: auto;
}

.section-noticia .ultimas-noticias {
    height: 100%;
    width: 100%;
    border: 1px #ccc solid;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}

.section-noticia .ultimas-noticias .title{
    text-align: center;
}

.section-noticia .ultimas-noticias .noticia .title{
    text-align: left;
    font-size: medium;
    color: #4e4d4d;
    line-height: 18px;
    font-weight: 100;
    margin-bottom: .5rem;
}

.section-noticia .ultimas-noticias  hr{
    width: 80%;
    height: 4px !important;
    opacity: 1 !important;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.section-noticia .ultimas-noticias .noticia img{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}