.section-noticias .noticias-card {
    height: auto;
    width: 100%;
    border-radius: 5px;
    background: white;
    box-shadow: rgb(0 0 0 / 10%) -2px 0px 6px 2px, rgb(0 0 0 / 6%) 0px 1px 2px 0px;
}

.section-noticias .first-noticia {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-noticias .first-noticia .text-wrapper {
    width: 40%;
    height: 200px;
    background: white;
    padding: 2rem;
    bottom: -30px;
    left: 40px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 3px 0px, rgb(0 0 0 / 6%) 0px 1px 2px 0px
}

.section-noticias .side-noticia {
    height: 196px;
    width: 100%;
    background: #113192d1;
    color: white;
    padding: 1rem;
}

.section-noticias .side-noticia .text-wrapper .title {
    color: white;
}

.section-noticias .side-noticia .content {
    font-size: small;
}


.section-noticias .noticias-card .header {
    height: 100%;
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-noticias .noticias-card .text .title,
.section-noticias .first-noticia .text-wrapper .title,
.section-noticias .side-noticia .title {
    font-size: 15px;
    color: black;
    font-weight: bold;
    line-height: 20px;
    height: auto;
}

.section-noticias .noticias-card .text .subtitle, 
.section-noticias .first-noticia .text-wrapper .subtitle,
.section-noticias .side-noticia .subtitle {
    font-size: 11px;
    margin-bottom: 2px;
}

.section-noticias .noticias-card .text .subtitle {
    font-size: 11px;
    margin-bottom: 1rem;
}

.section-noticias .noticias-rodape p {
    font-size: .6rem;
}

.section-noticias .noticias-card .content {
    text-align: justify;
    line-height: 20px;
    height: auto;
}

.section-noticias .noticias-card .btn {
    font-size: 12px;
}

.section-noticias .noticias-card img {
    width: 100%;
    margin-bottom: 1rem;
}

.section-noticias .empty-noticias {
    font-size: x-large;
    text-align: center;
    color: #7d7b7b;
    font-weight: bold;
    margin: 2rem 0rem;
}

.section-noticias .top-bar .input-group {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section-noticias .top-bar .input-group .btn {
    color: #003a70;
    border-color: #f8f9fa;
    background: #feca0a;
}