.section-rodape {
    background-image: url('~/img/rodape-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding-top: 5rem;
    padding-bottom: 1rem;
}

.section-rodape a {
    text-decoration: none;
}

.section-rodape .rodape-bottom p, .section-rodape .rodape-bottom span {
    font-size: .7rem;
}

.section-rodape  .media-icon-wrapper i {
    margin-right: 12px;
    font-size: 15px;
    color: #feca0a;
}

.section-rodape .rodape-content .rodape-content-title {
    color: #feca0a;
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.section-rodape .rodape-content p {
    font-size: .8rem;
    margin-bottom: 0.2rem;
}

.section-rodape .rodape-content a {
    color: white;
}

.section-rodape .rodape-content i {
    margin-right: .4rem;
}


.section-rodape .rodape-content .btn {
    padding: 0px 1rem;
    color: #003a70;
}

.section-rodape .brand img {
    width: 155px;
}

.section-rodape hr {
    height: 2px;
    color: white;
}